version: 2.1
orbs:
  node: circleci/node@7
jobs:
  build-node:
    executor: node/default
    # specify resource_class for predictable resource allocation
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run build
      - run:
          name: Create the ~/artifacts directory if it doesn't exist
          command: mkdir -p ~/artifacts
      - run:
          name: Copy artifacts
          command: cp -R build dist public .output .next .docusaurus ~/artifacts 2>/dev/null || true
      - store_artifacts:
          path: ~/artifacts
          destination: node-build
      - persist_to_workspace:
          root: .
          paths:
            - node_modules
            - build
            - dist
            - public
            - .output
            - .next
            - .docusaurus
  unit-tests:
    executor: node/default
    # specify resource_class for predictable resource allocation
    parallelism: 2
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          command: |
            mkdir -p test-results
            TEST_FILES=$(circleci tests glob "src/**/*.{test,spec}.{js,ts}")
            echo "$TEST_FILES" | circleci tests run --command="xargs npm run test:run -- --reporter=junit --outputFile=test-results/junit.xml" --verbose --split-by=timings --timings-type=name
      - store_test_results:
          path: test-results
workflows:
  build-and-test:
    jobs:
      - build-node
      - unit-tests:
          requires:
            - build-node
